

body { background: #fff; }

#header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.projects{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin:auto;
    width: 60%;
    display: grid;
    /* border-style: dotted; */
    grid-template-columns: auto auto auto;
    overflow: scroll;

}

.projects > div{
    padding: 10px;
    border-style: none;
}
