

body{
    /* background-color: #d5846b; */
    background: url("./docs/cartoon.png" ) no-repeat center center fixed; 
    background-size: 1100px;

    -webkit-background-size: 1100px;
    background-color: #d5846b;  /* fallback for old browsers */
    
}

img{
    margin:auto;
    width: 100%;
}

.content{
    margin-top: 90px;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    /* color: rgba(73, 35, 10, 0.644); */
    color: white;
    padding-bottom: 10px ;
    font-weight: bold;
    font-family: Salsa;
}

li:hover{
    color: grey;
}

a{
    text-decoration:none;
}

.fab{
    margin: 20px;
    size: 40px;
    color: white;
}
.fab:hover{
    color: grey;
}

#quote{
    font-family: 'Proxima Nova';
    font-style: italic;
    margin: 15px;
}
#next{
    text-align: center;
    background-color: grey;
    border-radius: 60%;
    color: white;
}

#header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.projects{
    padding: 20px;
    margin:auto;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    /* overflow: scroll; */
    background-color: #d5846b;

}

.card {
    background-color: inherit;
    margin: auto;
    padding: 20px 40px 40px;
    border-bottom: 4px solid rgb(221, 214, 214);
}

.card:hover{
    background-color: rgb(194, 194, 194);
}

.right{
    margin: auto;
}

.name{
    font-size: 65px;
    margin-top: 20px;
    font-family: Salsa;
    color: white;
}

.line{
    margin-top: -45px;
    border: 3px solid grey;
}

.line2{
    border: 3px solid grey;
}