body{
    background-color: rgb(255, 255, 255);
}

img{
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
}
.content{
    background-color: rgb(245, 245, 245);
    margin-top: 90px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    border-style: groove;
}
li{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    list-style: circle;
    
}
a{
    text-decoration:none;
}
.fab{
    margin: 10px;
}

#quote{
    font-family: 'Proxima Nova';
    font-style: italic;
    margin: 15px;
}

#next{
    text-align: center;
    background-color: grey;
    border-radius: 60%;
    color: white;
}


#header {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.projects{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin:auto;
    width: 60%;
    display: grid;
    /* border-style: dotted; */
    grid-template-columns: auto auto auto;
    overflow: scroll;

}

.projects > div{
    padding: 10px;
    border-style: none;
}
